/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes slideInFromLeft {
  0% {
    left: -20px;
  }
  100% {
    left: -15px;
  }
}

@keyframes changeScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked  {
  animation: changeScale 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks  {
  animation: fadeIn 0.3s 0.3s ease-in 1 alternate;
}

.theme-menu__button:disabled {
  pointer-events: none;
  transition: opacity 0.3s easy;
  opacity: 0.6;
}

.theme-menu__button:hover {
  transition: opacity 0.3s;
  transition-timing-function: easy;
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus-visible:after {
  transition: width 0.3s;
  width: 100%;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--currentColor, #000000);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.card__icon-button:focus-visible {
  transition: outline 0.3s;
  transition-timing-function: easy;
}

.card__like-button:focus {
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s;  
  box-shadow: 2px 2px 0px 0px var(--currentColor, #000000);
}

.like-icon
.core {
  fill: transparent;
  transition: fill 0.3s 0.03 linear;
}

.like-icon
.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon
.contour {
  fill: var(--animation-contour, #000000);
  transition: fill 0.1s linear;
}


.like-icon:hover 
.core {
  fill: var(--animation-body, #000000);
  transition: fill 0.3s linear;
}

.like-icon:hover 
.main-body {
  fill: var(--animation-body,#000000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active
.core {
  fill: var(--animation-sparks, red);
  transition: fill 0.3s linear;
}

.like-icon:active 
.main-body {
  fill: var(--animation-sparks, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-sparks, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-sparks, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-sparks, red);
  transition: fill 0.3s 0.06s linear;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--color-background, #FFFFFF);
  outline: 1px solid var(--currentColor, #000000);
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 335px;
  height: 55px;
}

.button-save::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--currentColor, #000000);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.button-save:focus {
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s;  
  box-shadow: 2px 2px 0px 0px black;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--currentColor, #000000);
  width: 130px;
  height: 38px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}